.nav-custom {
  background-color: white;
  display: flex;
  flex-direction: column;

  .container-fluid {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 50px;

    .navbar-nav {
      align-items: center;
    }

    #navbarNav {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      /* Prevents the collapse from growing to fill available space */
      flex-basis: auto;
      /* Makes the collapse take the size of its content */

      h1 {
        font-family: "Caveat";
        font-size: 70px;
      }
    }

    .nav-item {
      margin: 30px 10px;

      button,
      a {
        font-size: 17px;
        padding: 5px 15px;
      }
    }
  }
}

.recipe-body {
  margin: 0 auto;

  h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;

    font-family:
      'Arial Narrow',
      Arial,
      sans-serif;
  }

  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;

    .card-custom {
      width: 30%;
      margin: 17px;
    }

    .card-img-top {
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-height: 250px;
      /* Adjust this value as needed */
      object-fit: cover;
    }
  }
}