.nav-custom {
  background-color: white;
  display: flex;
  flex-direction: column;

  .container-fluid {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 50px;

    .navbar-nav {
      align-items: center;
    }

    #navbarNav {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      /* Prevents the collapse from growing to fill available space */
      flex-basis: auto;
      /* Makes the collapse take the size of its content */

      h1 {
        font-family: "Caveat";
        font-size: 70px;
      }
    }

    .nav-item {
      margin: 30px 10px;

      button,
      a {
        font-size: 17px;
        padding: 5px 15px;
      }
    }
  }
}